<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <node pkg="short_localisation" type="ekf_initial_pose" name="ekf_initial_pose" output="screen"/>
    
    <node pkg="robot_localization" type="ekf_localization_node" name="odom_fusion">
        <rosparam command="load" file="$(find short_localisation)/config/ekf.yaml" />
        <remap from="odometry/filtered" to="ekf_odom"/>
    </node>
    
    <node pkg="short_localisation" type="error_recorder" name="error_recorder" output="screen">
    <remap from="fused_odom" to="ekf_odom"/>
    </node>
</launch>
