<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 1 map odom" />

    <node pkg="rosbag" type="play" name="odom_rosbag" output="screen" args="--pause $(find short_localisation)/data/data.bag"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find short_localisation)/rviz/localisation.rviz" />
</launch>
